.list__wrapper {
  background: #fff7e8;
  padding-bottom: 12px;
}

.list__items {
  height: 640px;
  overflow-y: auto;
}

.list__item {
  border-top: 1px solid #888;
  cursor: pointer;
}

.list__item:hover {
  border-top: 1px solid #888;
  cursor: pointer;
  background: #fff8f8;
}
